{% load static tailwind_tags %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <meta name="description" content="">
    {% tailwind_css %}
</head>
<body class='font-mono flex items-center justify-center h-screen bg-blue-300'>
    <div class='p-8 bg-white rounded shadow-md '>
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>
