{% extends "base/main.html" %}

{% block content %}

<div class="bg-white p-8 rounded shadow-md max-w-2xl mx-auto relative">
    {% if request.user.is_authenticated %}
        <p class="text-lg text-gray-700">Welcome, <b class='text-zinc-900'>{{ request.user }}</b></p>
        <p class='text-sm my-2'>You have <i class='text-red-700'>{{count}}</i> itemtask{{count|pluralize:'s'}} incompleted</p>
        <a href="{% url "logout" %}" class="text-blue-500 hover:underline cursor-pointer absolute top-0 right-2 py-7">Logout</a>
    {% else %}
        <a href="{% url "login" %}" class="text-blue-500 hover:underline hover:translate-x-2">Login</a>
    {% endif %}
</div>
<div class="rounded shadow-md max-w-2xl mx-auto relative">
    <a href="{% url 'task-create' %}" class="bg-blue-500 text-white absolute top-1 right-2 py-0.5  px-4 rounded hover:bg-blue-600 transition-colors duration-300 ease-in-out text-3xl ">&#43;</a>

    <form method='GET' class="mt-4">
        <input type='text' name='search-area' value="{{ search_input }}" class='text-base font-medium text-gray-800 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 transition-colors duration-300 ease-in-out'>

        <input type='submit' value='Search' class='bg-blue-500 text-white py-2 px-4 rounded-full inline-flex items-center justify-center text-base font-medium hover:bg-blue-600 transition-colors duration-300 ease-in-out'>
    </form>

    <table class='table-fixed mt-8 w-full'>
        <thead>
            <tr>
                <th class="text-left py-2">Item:</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                
                <tr>
                    <td class="py-2">{{ task.title }}</td>
                    <td><a href="{% url "task" task.id %}" class="text-blue-500 hover:underline">View</a></td>
                    <td><a href="{% url "task-update" task.id %}" class="text-blue-500 hover:underline">Edit</a></td>
                    <td><a href="{% url "task-delete" task.id %}" class="text-red-500 hover:underline">Delete</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        <h3>No Items In List</h3>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
